@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body{
  display: flex;
  row-gap: 5vh;
  flex-direction: column;
}
*{ 
    margin: 0;
}
a{
    text-decoration: none; 
}
a:visited {
    color: #0a1a2a; 
}

.nombre{
    display: flex;
    justify-content: center;
    font-family:  "Tac One", sans-serif;
}
#nombre {
    color: #E3A44D;
    font-size: 70px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #003afa;
    box-shadow: rgba(0, 58, 250, 0.4) 0px 5px, rgba(0, 58, 250, 0.3) 0px 10px, rgba(0, 58, 250, 0.2) 0px 15px;
    font-family:  "Jersey 15", sans-serif;
    font-size: 20px;


}
.nav> a {
    color: #f1f1f1;
}




section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.titulo {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

.carrusel {
  width: 800px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}

.carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 10s infinite alternate ease-in-out;
}

.carrusel li {
  width: 100%;
  list-style: none;
  position: relative;
}

.carrusel img {
  width: 100%;
}

@keyframes slide {
  0% {margin-left: 0; }
  20% {margin-left: 0; }

  25% {margin-left: -100%; }
  45% {margin-left: -100%; }

  50% {margin-left: -200%; }
  70% {margin-left: -200%; }

  75% {margin-left: -300%; }
  100% {margin-left: -300%; }
}

@media(max-width:991px) {
  body {
      padding: 30px;
  }

  .carrusel {
      width: 100%;
  }
}

.carrusel{
  border: 1px black solid;
  height: 460px;
  width: 1400px;
  display: flex;
  /* flex-wrap: wrap; */
}

.nose{
  
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    background-color: #90A2F2;
    background-image: url('https://static.wikia.nocookie.net/featteca/images/3/37/Invencible.png/revision/latest?cb=20240301203959&path-prefix=es');
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: 10% center ;
    /* background-blend-mode:overlay ; */
    font-size: 30px;
    text-align: center;
    

}
.nose h1{
  font-family:  "Tac One", sans-serif;
  font-size: 100px;}

  .nose button{
    border: none; 
color: black; 
padding: 14px 28px; 
cursor: pointer; 
border-radius: 50px; 
background-color: white; border: 2px solid #007bff
}
.nose > button:hover{background: #E3A44D; color: white;}

  












.Producto__juego {
border: 1px black solid;
padding: 20px;
width: 300px;
height: auto;
text-align: center;
}

.Producto__juego > img {
width: 200px;
height: 300px;
}

.Producto__juego-info {
margin-top: 10px;
padding: 10px;
text-align: center;
}

button {
margin-top: 10px;
}

/* Estilo boton productos */
.Producto__juego > button{
border: none; 
color: black; 
padding: 14px 28px; 
cursor: pointer; 
border-radius: 5px; 
background-color: white; border: 2px solid #007bff
}
.Producto__juego > button:hover{background: #0b7dda; color: white;}






/* Hugo:::::Pie de Pagina*/

.pie-pagina {
    background-color: rgb(225, 8, 233);
  
    background: linear-gradient(to right, #e02121, #003afa);
    margin-top: auto;
    color: white;
    padding-top: 10px;
  }

  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 5px 0px;
  }
  .pie-pagina .grupo-1 .boxPiePaguina1 figure {
    height: 100%; /*Posicion imagen*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .boxPiePaguina1 figure img {
    width: 250px; /*imagen*/
  }
  .pie-pagina .grupo-1 .boxPiePaguina h2 {
    color: #f1f1f1;
    margin-bottom: 10vh; /*titulos sobre nosotros y siguenos*/
  }
  .pie-pagina .grupo-1 .red-social a {
    width: 40px;
    height: 50px; /*Iconos de redes sociales*/
    line-height: 30px;
    font-size: 35px; /* Aumenta el tamaño del ícono */
    margin-right: 40px;
  
    color: rgb(0, 247, 255); /*Iconos de redes sociales color*/
  }
.grupo-1 .red-social a:hover {
    color: rgb(185, 8, 255); /*Iconos de redes sociales color de efecto*/
  }
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px; /*Ultimo cuadro*/
    text-align: center;
    color: #fff;
  }

small {
    font-size: 15px; /*Ultimo cuadro tamaño letra*/
  }

