@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');

*{
    
    margin: 0;
}

h1{font-family: "Tac One", sans-serif;}
#arriba{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
   
}

nav{
    display: flex;
    column-gap: 25px;
}

nav > a{
    color: #292929;
    text-decoration: none;
}


