
{% extends 'core/base.html' %}
{% load static %}

{% block head%}

<script src="https://kit.fontawesome.com/eb496ab1a0.js"
  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<section class="producto-base">

  <div class="busqueda">

  </div>
  <article class="productos-view">
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'spiderman' %}">
        <img src="{% static 'Juegos/Spider-man 2/caratula-ps5.jpg' %}"
          alt="...">
        <div class="card-box  description">
          <h3>PS5</h3>
          <h3>Marvel's Spider-man 2</h3>
        </div>
        <div class="card-box  precio">
          <h4>$69.000</h4>
        </div>
      </a>
    </div>
  </article>
  <div class="paginas">
    <label for>Pagina 1</label>
  </div>
</section>
{% endblock %}